@{
    ViewBag.Title = "Too Many Requests";
    ViewBag.Active = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Too Many Requests</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">You have requested this resource too many times in the last 60 seconds. Please click back on your browser after waiting 60 seconds to continue</div>
    </div>        
</div>

