<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebServerUrl" value="http://jsdevopstest.cloudapp.net:48000/" xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
    <add key="TestScreenCaptureDirectory" value="C:/Screenshots/" xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
    <add key="WebBrowserProxy" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>