<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Security Rules Enabled as build warnings" Description="All Security Rules are enabled as build warnings. Security Rules with IsEnabledByDefault = false are force enabled as build warnings. Rules from a different category are disabled." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1310" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1416" Action="None" />
    <Rule Id="CA1417" Action="None" />
    <Rule Id="CA1418" Action="None" />
    <Rule Id="CA1419" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1727" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA1826" Action="None" />
    <Rule Id="CA1827" Action="None" />
    <Rule Id="CA1828" Action="None" />
    <Rule Id="CA1829" Action="None" />
    <Rule Id="CA1830" Action="None" />
    <Rule Id="CA1831" Action="None" />
    <Rule Id="CA1832" Action="None" />
    <Rule Id="CA1833" Action="None" />
    <Rule Id="CA1834" Action="None" />
    <Rule Id="CA1835" Action="None" />
    <Rule Id="CA1836" Action="None" />
    <Rule Id="CA1837" Action="None" />
    <Rule Id="CA1838" Action="None" />
    <Rule Id="CA1839" Action="None" />
    <Rule Id="CA1840" Action="None" />
    <Rule Id="CA1841" Action="None" />
    <Rule Id="CA1842" Action="None" />
    <Rule Id="CA1843" Action="None" />
    <Rule Id="CA1844" Action="None" />
    <Rule Id="CA1845" Action="None" />
    <Rule Id="CA1846" Action="None" />
    <Rule Id="CA1847" Action="None" />
    <Rule Id="CA1848" Action="None" />
    <Rule Id="CA2009" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2012" Action="None" />
    <Rule Id="CA2013" Action="None" />
    <Rule Id="CA2014" Action="None" />
    <Rule Id="CA2015" Action="None" />
    <Rule Id="CA2016" Action="None" />
    <Rule Id="CA2017" Action="None" />
    <Rule Id="CA2018" Action="None" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2109" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2153" Action="Warning" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2218" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2224" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
    <Rule Id="CA2247" Action="None" />
    <Rule Id="CA2248" Action="None" />
    <Rule Id="CA2249" Action="None" />
    <Rule Id="CA2250" Action="None" />
    <Rule Id="CA2251" Action="None" />
    <Rule Id="CA2252" Action="None" />
    <Rule Id="CA2253" Action="None" />
    <Rule Id="CA2254" Action="None" />
    <Rule Id="CA2255" Action="None" />
    <Rule Id="CA2256" Action="None" />
    <Rule Id="CA2257" Action="None" />
    <Rule Id="CA2258" Action="None" />
    <Rule Id="CA2300" Action="Warning" />
    <Rule Id="CA2301" Action="Warning" />
    <Rule Id="CA2302" Action="Warning" />
    <Rule Id="CA2305" Action="Warning" />
    <Rule Id="CA2310" Action="Warning" />
    <Rule Id="CA2311" Action="Warning" />
    <Rule Id="CA2312" Action="Warning" />
    <Rule Id="CA2315" Action="Warning" />
    <Rule Id="CA2321" Action="Warning" />
    <Rule Id="CA2322" Action="Warning" />
    <Rule Id="CA2326" Action="Warning" />
    <Rule Id="CA2327" Action="Warning" />
    <Rule Id="CA2328" Action="Warning" />
    <Rule Id="CA2329" Action="Warning" />
    <Rule Id="CA2330" Action="Warning" />
    <Rule Id="CA2350" Action="Warning" />
    <Rule Id="CA2351" Action="Warning" />
    <Rule Id="CA2352" Action="Warning" />
    <Rule Id="CA2353" Action="Warning" />
    <Rule Id="CA2354" Action="Warning" />
    <Rule Id="CA2355" Action="Warning" />
    <Rule Id="CA2356" Action="Warning" />
    <Rule Id="CA2361" Action="Warning" />
    <Rule Id="CA2362" Action="Warning" />
    <Rule Id="CA3001" Action="Warning" />
    <Rule Id="CA3002" Action="Warning" />
    <Rule Id="CA3003" Action="Warning" />
    <Rule Id="CA3004" Action="Warning" />
    <Rule Id="CA3005" Action="Warning" />
    <Rule Id="CA3006" Action="Warning" />
    <Rule Id="CA3007" Action="Warning" />
    <Rule Id="CA3008" Action="Warning" />
    <Rule Id="CA3009" Action="Warning" />
    <Rule Id="CA3010" Action="Warning" />
    <Rule Id="CA3011" Action="Warning" />
    <Rule Id="CA3012" Action="Warning" />
    <Rule Id="CA3061" Action="Warning" />
    <Rule Id="CA3075" Action="Warning" />
    <Rule Id="CA3076" Action="Warning" />
    <Rule Id="CA3077" Action="Warning" />
    <Rule Id="CA3147" Action="Warning" />
    <Rule Id="CA5350" Action="Warning" />
    <Rule Id="CA5351" Action="Warning" />
    <Rule Id="CA5358" Action="Warning" />
    <Rule Id="CA5359" Action="Warning" />
    <Rule Id="CA5360" Action="Warning" />
    <Rule Id="CA5361" Action="Warning" />
    <Rule Id="CA5362" Action="Warning" />
    <Rule Id="CA5363" Action="Warning" />
    <Rule Id="CA5364" Action="Warning" />
    <Rule Id="CA5365" Action="Warning" />
    <Rule Id="CA5366" Action="Warning" />
    <Rule Id="CA5367" Action="Warning" />
    <Rule Id="CA5368" Action="Warning" />
    <Rule Id="CA5369" Action="Warning" />
    <Rule Id="CA5370" Action="Warning" />
    <Rule Id="CA5371" Action="Warning" />
    <Rule Id="CA5372" Action="Warning" />
    <Rule Id="CA5373" Action="Warning" />
    <Rule Id="CA5374" Action="Warning" />
    <Rule Id="CA5375" Action="Warning" />
    <Rule Id="CA5376" Action="Warning" />
    <Rule Id="CA5377" Action="Warning" />
    <Rule Id="CA5378" Action="Warning" />
    <Rule Id="CA5379" Action="Warning" />
    <Rule Id="CA5380" Action="Warning" />
    <Rule Id="CA5381" Action="Warning" />
    <Rule Id="CA5382" Action="Warning" />
    <Rule Id="CA5383" Action="Warning" />
    <Rule Id="CA5384" Action="Warning" />
    <Rule Id="CA5385" Action="Warning" />
    <Rule Id="CA5386" Action="Warning" />
    <Rule Id="CA5387" Action="Warning" />
    <Rule Id="CA5388" Action="Warning" />
    <Rule Id="CA5389" Action="Warning" />
    <Rule Id="CA5390" Action="Warning" />
    <Rule Id="CA5391" Action="Warning" />
    <Rule Id="CA5392" Action="Warning" />
    <Rule Id="CA5393" Action="Warning" />
    <Rule Id="CA5394" Action="Warning" />
    <Rule Id="CA5395" Action="Warning" />
    <Rule Id="CA5396" Action="Warning" />
    <Rule Id="CA5397" Action="Warning" />
    <Rule Id="CA5398" Action="Warning" />
    <Rule Id="CA5399" Action="Warning" />
    <Rule Id="CA5400" Action="Warning" />
    <Rule Id="CA5401" Action="Warning" />
    <Rule Id="CA5402" Action="Warning" />
    <Rule Id="CA5403" Action="Warning" />
    <Rule Id="CA5404" Action="Warning" />
    <Rule Id="CA5405" Action="Warning" />
  </Rules>
</RuleSet>