<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="WebsiteBaseUrl" value="https://TODODeployedSite/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EncryptionPassword" value="LL1£$sdd67%$qp[alkd.0000sjsd73gaGVCF7sgqQ=PlP16a--0oHjeSw2"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EncryptionIterationCount" value="47" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- SECURE: Ensure debug information is turned off in production -->
    <trace enabled="false" xdt:Transform="Replace" />
    <!-- SECURE: Ensure trace is turned off in production -->
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace"></customErrors>
    <!-- SECURE: Turn custom errors on to prevent internals information disclosure -->
    <!-- SECURE: Require all custom cookies to travel via SSL -->
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
      <!-- SECURE: Authentication cookie should only be passed over SSL -->
    </authentication>
  </system.web>
  <elmah>
    <!-- SECURE: Ensure Elmah (if used) cannot be viewed remotely e.g. by googling it -->
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" xdt:Transform="Replace" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="MyDB" applicationName="SecurityEssentials"
              xdt:Transform="Replace" />
  </elmah>
</configuration>