@{
    ViewBag.Title = "Change Password Success";
    ViewBag.Active = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Password Changed</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">Your password has been changed. @Html.ActionLink("Please click here to login", "Logon", "Account")</div>
    </div>
</div>

