@{
    ViewBag.Title = "Change Security Information Success";
    ViewBag.Active = "Admin";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Security Information Changed</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">The security information on your account has been successfully changed</div>
    </div>
</div>

