@{
    ViewBag.Title = "Change Password Success";
    ViewBag.Active = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Password Changed</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">Your password has been changed. Please log in again @Html.ActionLink("LogOn", "Logon", "Account")</div>
    </div>
</div>

