@{
    ViewBag.Title = "Change Email Address Pending";
    ViewBag.Active = "Home";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2>Change Email Address Pending</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">Your request has been processed. If the email you entered was valid and your account active then an email will be sent to your old email address which will enable you to confirm your new email address as active. When you do this, the new email will become your login username</div>
        </div>        
        <div class="row">
            <div class="col-md-12">Click @Html.ActionLink("Here to Logon", "LogOn", "Account")</div>
        </div>        
    </div>

