@using SecurityEssentials.Model;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<p class="text-success text-center">@ViewBag.StatusMessage</p>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            @Html.Partial("_ChangePasswordPartial")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
