<h2>Recover password</h2>

    <div class="container">
        <div class="row-fluid">
            <div class="span10 offset1">Password change has been successful</div>
        </div>        
        <div class="row-fluid">
            <div class="span10 offset1">Click @Html.ActionLink("here to go to logon", "LogOn", "Account")</div>
        </div>        
    </div>

