@{
    ViewBag.Title = "Recover Password Success";
    ViewBag.Active = "Home";
}

<h2>Recover password</h2>

<div>
    <div class="row">
        <div class="col-md-10">Password change has been successful</div>
    </div>
    <div class="row">
        <div class="col-md-10">Click @Html.ActionLink("here to go to logon", "LogOn", "Account")</div>
    </div>
</div>