<h2>Recover password</h2>

    <div class="container">
        <div class="row-fluid">
            <div class="span10 offset1">Your account registration request has been submitted for processing. An email has been sent to your registered email address to complete the next steps</div>
        </div>        
        <div class="row-fluid">
            <div class="span10 offset1">Click @Html.ActionLink("Click Here to go to logon", "LogOn", "Account")</div>
        </div>        
    </div>

