
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forbiddden</h1>

<p>Sorry, access to this page was not permitted. Press back on your browser to return to the previous page</p>

