
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page Not Found</h2>

<p>Sorry, we did not find the page requested. Press back on your browser to return to the previous page</p>

