@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <h4>Created by John Staveley - Last updated 10/09/2016</h4>
                This Mvc solution was adapted from the standard MVC4 template in VS 2015, MVC5, .net 4.6.1. Following is how using this solution protects you against the Open Web Application Security Project (OWASP) Top 10 security threats in the world today.
                <ol>
                    <li>SQL Injection: It uses Entity Framework ORM</li>
                    <li>Weak account management: 
                        <ul>
                            <li>Uses claims based auth</li>
                            <li>Uses the strong hash PBKDF2 with an adaptable number of iterations with the experimental Argon2 hashing routine available, new hashing algorithms can be added as better ones are identified or existing ones have weaknesses identified</li>
                            <li>Enforces a strong password - Bans weak passwords, enforces minimum password strength, allows special characters, bans too many repeated characters</li>
                            <li>Has a water tight account management process</li>
                            <li>Prevents anti-enumeration through well designed messages</li>
                            <li>Logs account activity which can be checked by the user to see if there is any illicit activity</li>
                            <li>Emails on key account events and gives anti-phishing advice</li>
                            <li>Verifies email by sending an email to the specified address</li>
                            <li>Re-verifies email when requesting a change of email</li>
                            <li>Prevents brute force of logon</li>
                            <li>Prevents brute force of registration or password reset through anti-throttling and CAPTCHA</li>
                            <li>Encryption of security question data using the RijndaelManaged AES 512 encryption algorithm</li>
                            <li>Increasing wait time on logon failure rather than account lock out</li>
                            <li>Unit tests for password hashing and authorization attributes</li>
                        </ul>
                    </li>
                    <li>XSS: Incorporation of the WPL AntiXSS library to encode all output</li>
                    <li>Insecure direct object references: In user edit page it checks the user is entitled to be there</li>
                    <li>Security misconfiguration: Doesn't turn on anything you don't really need</li>
                    <li>Sensitive data exposure: 
                        <ul>
                            <li>Auto-complete off on registration page</li>
                            <li>Enforces TLS of all data in production through use of web.configs</li>
                            <li>Ensures website can only ever be requested over TLS using HSTS header</li>
                            <li>Turns off verbose errors and trace in production</li>
                            <li>Removes unnecessary headers which indicate .net framework version</li>
                            <li>Removes server information disclosure headers from responses</li>
                        </ul>
                    </li>
                    <li>Missing Function Level Access Control: Sensitive functions decorated with Authorize and Role attributes. Unit tests to ensure admin functions require the admin role</li>
                    <li>CSRF: Ensures anti-forgery token is used on all Post/Put/Ajax operations by checking through use of a base controller</li>
                    <li>Using components with known vulnerabilities: .Net framework is the latest version and all NuGet packages kept updated</li>
                    <li>Unvalidated redirects and forwards: Covered by RedirectToLocal in MVC4</li>
                </ol>
                Other threats it protects against and features:
                <ul>
                    <li>Clickjacking: Disallow site appearing in frame by applying header and disallowing site from being opened in an iFrame</li>
                    <li>Form overposting: Example given of how to avoid this</li>
                    <li>Acceptance tests for key functionality</li>
                </ul>
            </p>
            <p>NB: Runs on SQL Express and IIS Express, requires mail server and recaptcha (optional) set up. See readme.txt in project for more information</p>
            <p>
                <h2>Steps to secure your website on the server</h2>
                When you have your application ready to deploy (or even before) you need to consider the additional steps you will need to take on the server. Generally these will be undertaken by an infrastructure person. I would recommend the following steps:
                <ul>
                    <li>Apply a good SSL policy on the server: <a href="http://www.ssllabs.com/projects/best-practises/" target="_blank">http://www.ssllabs.com/projects/best-practises/</a></li>
                    <li>Configure your server to avoid a Poodle downgrade attack</li>
                    <li>Enable retail mode on the production server</li>
                    <li>Patch the server up to the hilt</li>
                    <li>Register for HSTS preload</li>
                </ul>
            </p>
            <p>
                <h2>How you can ensure your application remains secure over time</h2>
                <ul>
                    <li>Add unit tests to ensure correct role is applied to functions requiring security such as admin</li>
	                <li>Run the build process detailed below</li>
	                <li>Patch the server!</li>
	                <li>Ensure SSL policy remains current: <a href="http://www.ssllabs.com/projects/best-practises/" target="_blank">http://www.ssllabs.com/projects/best-practises/</a></li>
                </ul>
            </p>
            <p><h2>How your build process can ensure you remain secure over time</h2>
            Following this process will help prevent security regressions from occurring. As part of your build process you should run all unit and acceptance tests provided with this project, you can also run <a href="https://www.owasp.org/index.php/OWASP_Dependency_Check" target="_blank">OWASP Dependency checker</a> and <a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project" target="_blank">OWASP Zap</a> automated pen-testing tool. Below is shown how each of these steps protects against the OWASP Top 10.
            <ul>
                <li>(Some of) 1, 3, 5, 6, 8, 10 - <a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project" target="_blank">OWASP Zap</a>, check the report for vulnerabilities</li>
                <li>2. Account management process - Unit and acceptance tests</li>
                <li>4. Insecure direct object references - Unit tests</li>
                <li>7. Missing file level access control - Unit tests</li>
                <li>8. CSRF - Unit tests and ZAP</li>
                <li>9. Vulnerable dependencies - <a href="https://www.owasp.org/index.php/OWASP_Dependency_Check" target="_blank">OWASP Dependency checker</a>, check the report for high level vulnerabilities</li>
                <li>10. Unvalidated redirects and forwards - Unit tests</li>
            </ul>
            </p>
            <p>Created 29/01/2015</p>
        </div>
    </section>
}
