@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <h3>Created by John Staveley - 29/01/2015</h3>
                This Mvc solution was adapted from the standard MVC4 template in VS 2013 with the following security features:
                <ul>
                    <li>Template built on the latest technology - MVC 5, EF 6, Bootstrap 3, Claims based authentication and authorisation, Kendo UI</li>
                    <li>No components with know vulnerabilities, built on the latest version of .Net and up to date NuGet packages</li>
                    <li>Secure password storage - Stores passwords with a cryptographically secure Salt and Hash using the PBKDF2 algorithm with an adaptable number of iterations</li>
                    <li>Passwords harder to crack - Enforces a strong password policy and allows special characters</li>
                    <li>Passwords harder to guess - Compares password entered with a database of frequently used (and cracked) passwords and no personal information is allowed to be reused in the password</li>
                    <li>Account management - Prevents account enumeration on register and reset password forms</li>
                    <li>Account management - Each user can see a summary of their most recent account activity to check for any illicit activity</li>
                    <li>Account Management - Protects sensitive functions against brute force attacks by throttling web requests and using CAPTCHA</li>
                    <li>Account Management - Prevents overposting on all forms</li>
                    <li>Account Management - All account activity is logged which is viewable by the user, user is reminded of last logon time when they logon</li>
                    <li>Controllers and AJAX are protected against the CSRF attack by using an AntiForgeryToken</li>
                    <li>Prevents the site from being opened inside an iFrame (anti-clickjacking)</li>
                    <li>Prevents the site in production from ever being requested over http</li>
                    <li>Removes server information disclosure headers from responses</li>
                    <li>Unit tests for password hashing and authorization attributes</li>
                    <li>Auto-Complete switched off on registration form to protect sensitive data</li>
                    <li>Increasing wait time on logon failure</li>
                </ul>
            </p>
            <p>NB: Runs on SQL Express and IIS Express, requires mail server and recaptcha set up. See readme.txt in project for more information</p>
            <p>To do
                <ul>
                    <li>Session tracking - logoff should invalidate the session, (Optional) - Deny multiple sessions</li>
                </ul>
            </p>
        </div>
    </section>
}
