@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <h3>Created by John Staveley</h3>
                This Mvc solution was adapted from the standard MVC4 template in VS 2013 with the following amendments:
                <ul>
                    <li>Built on the latest technology - MVC 5, EF 6, Bootstrap 3, Claims based authentication and authorisation</li>
                    <li>Stores passwords with a cryptographically secure Salt and Hash using the PBKDF2 algorithm with an adaptable number of iterations</li>
                    <li>Enforces a strong password policy</li>
                    <li>Compares password with a database of known bad passwords</li>
                    <li>Controllers and AJAX are protected against the CSRF attack by using an AntiForgeryToken</li>
                    <li>Protects sensitive functions against brute force attacks by throttling web requests</li>
                </ul>
            </p>
        </div>
    </section>
}
<p>

</p>
