@model SecurityEssentials.ViewModel.UsersViewModel

@{
    ViewBag.Title = "Users - Index";
    ViewBag.Active = "Admin";
}
<div>
    <div class="scrollable">
        <div>
            <div id="DisableUserDialog"></div>
            <div id="userGrid"></div>
            @Html.HiddenFor(model => model.CurrentUserId)

            <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
        </div>
    </div>
</div>
@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
    <script src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"></script>
    @Scripts.Render("~/bundles/users")
}
